.footer-container {
    background-color: #E2F4FF;
    padding-top: 25px;
    margin-top: 25px;


}

.footer-info {
    width: 1320px;
    height: 139px;
    margin: 41px 85px 41px 85px;
    background-color: white;
    display: flex;
    border-radius: 20px;

    button {
        width: 388px;
        margin: 30px 0px 25px 137px;
    }

    h4 {
        color: #606060;

        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 39px;
    }
}

.footer-h2 {
    margin: 42px 0px 25px 50px;
    color: #1B5A7D;
    font-family: Poppins;
    font-size: 29.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.foot-img {
    margin: 39px 20px 39px 88px;
}


.last-footer {
    display: flex;
    margin: 41px 0px 0px 88px;
}

.hr {
    width: 250px;
    height: 0.5px;
    margin-top: 36px;
}


.all-ul-footer {
    p {
        margin-top: 41px;
        color: #1B5A7D;
        font-family: Poppins;
        font-size: 16.38px;
        font-weight: 400;
        
    }
}

.svg-formatter {
    display: flex;
    margin-top: 23px;
    gap: 37px;
}

.defacto{
    width: 983px;
    height: 247px;
    display: flex;
    margin-bottom: 41px;
    color: #1B5A7D;
    font-family: Poppins;
    font-weight: 400;
    justify-content: space-between;
}

.ul-data {
    list-style-type: circle;
    margin-top: 15px;
}

.find-product {
    margin-left: 80px;
}

.alpha {
    margin-left: 80px;
}

.alpha__h3 {
    margin-left: 38px;

}


