.saleup {
    background-image: url('../assets/sale.png');
    width: 1315px;
    height: 417px;
    background-repeat: no-repeat;
    margin: 0px 61px;
}

.saleup-target{
    margin-top: 30px;
}

.saleup-h1 {
    margin: 30px 149px 0px 797px;
    color: #2E8FC5;
    font-family: Poppins;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.saleup-h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    width: 160px;
    margin: 0px 253.5px 0px 902px;
}

.btn[btnsize="decto"] {
    padding: 15px 43px;
    margin: 85px 68px 0px 905px;
}

.btn[btnsize="decto2"] {
    padding: 15px 47px;
    margin: 30px 68px 63px 905px;
}