.sidebar{
    max-width: 300px;
    height: 800px;
    background-color: #423a82;
    flex-grow: 1;
    padding: 1rem;
    
    ul{
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 1.5rem 0;
        margin: 10px 0px 0px 40px;
        

            .sidebar-link{
                color: #fff;
                padding: 1rem;
                display: block;
            }
            .sidebar--link--active{
                background-color:#1bcfb4c0;
                transition: 0.5s;
            }
    }
}

.dashlogo{
    margin: 40px 0px 10px 40px;
}

a{
    text-decoration: none;
}
